@import url("https://fonts.googleapis.com/css?family=Cairo&display=swap");
@import url("./fonts.css");
html {
  direction: rtl
}
.app-main__outer .app-main__inner .form__page .input-group-addon, .modal-dialog .modal-body .input-group-addon {
  padding: 8px 12px;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 16px !important;
  font-size: .8rem;
  font-weight: 400;
  line-height: 1.25;
  color: #495057;
  text-align: center;
  background-color: #e9ecef;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.app-theme-white.app-container {
  background-color: #eff0f8 !important;
}

/* Navebar */
.app-header {
  background-color: #3569fd !important;
}

.app-header .hamburger-inner,
.app-header .hamburger-inner::before,
.app-header .hamburger-inner::after {
  background-color: #fff !important;
}

.app-header .app-header__content .app-header-right {
  margin-right: auto !important;
  margin-left: 0;
}

.app-header .widget-content-left img {
  width: 2rem !important;
}

.app-header .notification,
.app-header .fa-envelope {
  font-size: 20px;
  margin: 0 15px;
  color: #f5f5f5;
  cursor: pointer;
}

.app-header .numb-red {
  top: -9px;
  position: absolute;
  background-color: #da2e2e;
  color: white;
  font-size: 11px;
  width: 18px;
  right: 5px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
}

.app-header .lang {
  padding: 0;
}

.app-header .lang img {
  width: 2rem;
  margin-right: 1rem;
}

.app-header .search-wrapper .close::before, .app-header .search-wrapper .close::after {
  background-color: #fff !important;
}

.app-header .search-wrapper .input-holder .search-icon {
  background-color: #eff0f8 !important;
}

.app-header .search-wrapper.active {
  width: 290px;
}

.app-header .search-wrapper.active .input-holder {
  width: 250px;
  background-color: #eff0f8 !important;
}

.app-header .search-wrapper.active .close {
  left: 0;
}

.app-header .search-wrapper.active .close:hover {
  opacity: 1 !important;
}

.app-header .dropdown-menu.dropdown-menu-right {
  right: auto !important;
  border: 0;
  -webkit-transform: translate3d(-55px, 55px, 0px) !important;
          transform: translate3d(-55px, 55px, 0px) !important;
}

.app-header .dropdown-menu.dropdown-menu-right .dropdown-item {
  width: 100%;
  padding: .6rem 1.5rem;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  -webkit-transition: all .2s;
  transition: all .2s;
  font-size: .9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  cursor: pointer;
  z-index: 6;
  position: relative;
}

.app-header .dropdown-menu.dropdown-menu-right .dropdown-item span {
  margin-right: 1rem;
}

.app-header .dropdown-menu.dropdown-menu-right .dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #3569fd !important;
  padding-right: 2rem;
}

.app-header .dropdown-menu.dropdown-menu-right.noti-drob {
  width: 19rem;
  padding: 0;
  border-radius: 15px;
  border: 0;
  overflow: hidden;
  top: 63% !important;
}

@media (max-width: 992px) {
  .app-header .dropdown-menu {
    position: fixed !important;
    z-index: 50;
    left: 10% !important;
    top: 13% !important;
    width: 25% !important;
    -webkit-transform: translateY(-50%) !important;
            transform: translateY(-50%) !important;
    min-width: 10px !important;
  }
}

@media (max-width: 676px) {
  .app-header .dropdown-menu {
    left: 20% !important;
    top: 13% !important;
    width: 57% !important;
  }
}

.app-theme-white.fixed-header .app-header__logo {
  background: none;
}

.app-theme-white.fixed-header .app-header__logo .logo-src {
  height: 80px;
  width: 100px;
 
}

/* Navebar */
.fixed-sidebar .app-header {
  top: 0;
  right: 0;
}

.fixed-sidebar .app-main .app-main__outer {
  padding-right: 280px;
  padding-left: 0px;
}

.app-sidebar .scrollbar-sidebar {
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.app-sidebar .scrollbar-sidebar .welc-pers img {
  width: 70%;
  border-radius: 50%;
}

.app-sidebar .scrollbar-sidebar .vertical-nav-menu li a {
  color: #3569fd !important;
  height: auto;
}

.app-sidebar .scrollbar-sidebar .vertical-nav-menu li a ul > li > a {
  color: #3569fd !important;
  padding-right: 1.5rem !important;
}

.app-sidebar .scrollbar-sidebar .vertical-nav-menu ul::before {
  content: '';
  height: 100%;
  opacity: 1;
  width: 3px;
  background: #e0f3ff !important;
  position: absolute;
  left: 20px;
  top: 0;
  border-radius: 15px;
}

.app-sidebar .scrollbar-sidebar .vertical-nav-menu ul > li > a:hover, .app-sidebar .scrollbar-sidebar .vertical-nav-menu ul > li > a.mm-active {
  color: #fff !important;
  background: #3569fd !important;
  -webkit-box-shadow: 3px 2px 20px 0px #e8e8e869;
          box-shadow: 3px 2px 20px 0px #e8e8e869;
  padding-right: 2rem !important;
}

.app-sidebar .scrollbar-sidebar .tap-sidebar-active {
  padding-right: 2.8rem !important;
}

.app-sidebar .scrollbar-sidebar .tap-sidebar-active:hover,
.app-sidebar .scrollbar-sidebar .tap-sidebar-active:focus,
.app-sidebar .scrollbar-sidebar .tap-sidebar-active.mm-active {
  background: none !important;
  color: #3568fd !important;
  border-radius: 0;
  border-right: 5px solid #3569fd !important;
  padding-right: 3rem !important;
}

.app-sidebar .scrollbar-sidebar .vertical-nav-menu i.metismenu-state-icon {
  right: auto;
  left: 0;
  opacity: 1;
}

.app-sidebar .scrollbar-sidebar .vertical-nav-menu i.metismenu-icon,
.app-sidebar .scrollbar-sidebar .vertical-nav-menu img.metismenu-icon {
  right: 5px;
  opacity: 1 !important;
  font-size: 1.3rem;
}

.app-sidebar .scrollbar-sidebar:hover .welc-pers img {
  width: 70% !important;
}

.app-sidebar .scrollbar-sidebar:hover .welc-pers h4 {
  display: block;
}

.closed-sidebar .welc-pers {
  padding-top: 1rem !important;
}

.closed-sidebar .welc-pers h4 {
  display: none;
}

.closed-sidebar .app-sidebar .app-sidebar__inner ul li a {
  margin-right: -.3rem;
}

.closed-sidebar .app-sidebar .app-sidebar__inner ul li a.mm-active {
  border-right: 2px solid #3569fd !important;
}

.closed-sidebar .app-sidebar .app-sidebar__inner ul.mm-show>li>a {
  right: -15rem
}

.closed-sidebar .app-sidebar:hover .app-sidebar__inner ul.mm-show>li>a {
  height: auto;
  right: 0;
}

.closed-sidebar .app-main__outer {
  padding-right: 80px !important;
}

@media (max-width: 992px) {
  .closed-sidebar .welc-pers h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.app-main__outer {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.app-main__outer .app-main__inner {
  padding: 20px 50px 0;
}

.app-main__outer .app-main__inner .breadcrumb {
  background: none;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.app-main__outer .app-main__inner .breadcrumb .breadcrumb-item {
  font-size: 1.3rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
}

.app-main__outer .app-main__inner .breadcrumb .breadcrumb-item:not(:first-of-type) {
  font-size: 1rem;
}

.app-main__outer .app-main__inner .breadcrumb .breadcrumb-item:not(:first-of-type)::before {
  display: inline-block;
  padding-right: .5rem;
  padding-left: .5rem;
  color: #6c757d;
  content: "/";
  font-size: 1.1rem;
  position: absolute;
}

.app-main__outer .app-main__inner .breadcrumb .breadcrumb-item.active {
  color: #3569fd;
}

.app-main__outer .app-main__inner .breadcrumb .breadcrumb-item .nav-link {
  color: #6c757d !important;
  text-decoration: none;
  padding: .5rem 1.5rem .5rem 0rem;
  font-weight: normal;
}

.app-main__outer .app-main__inner .breadcrumb .breadcrumb-item .nav-link.active {
  color: #3569fd !important;
  text-decoration: none !important;
  background: none;
}

.app-main__outer .app-main__inner .breadcrumb .breadcrumb-item span {
  margin-right: 1.5rem;
}

@media (max-width: 540px) {
  .app-main__outer .app-main__inner .breadcrumb .breadcrumb-item {
    font-size: 1.2rem;
  }
  .app-main__outer .app-main__inner .breadcrumb .breadcrumb-item:not(:first-of-type) {
    font-size: .8rem;
  }
}

.app-main__outer .app-main__inner .titele__bage {
  background: none;
  border: 0;
  padding-left: 0;
  padding-right: 0;
}

.app-main__outer .app-main__inner .titele__bage .row {
  margin: 0;
}

.app-main__outer .app-main__inner .titele__bage .row .col-5 {
  padding-right: 0;
}

.app-main__outer .app-main__inner .titele__bage .row .pages {
  margin-bottom: 1rem;
}

.app-main__outer .app-main__inner .titele__bage .row .pages button {
  background-color: #fff !important;
  border: 0;
  color: #3569fd;
  padding: .5rem 1rem;
  margin: 0 .25rem;
  cursor: pointer;
  -webkit-box-shadow: 0px 15px 50px #b5b6be69;
          box-shadow: 0px 15px 50px #b5b6be69;
  border: 0 !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.app-main__outer .app-main__inner .titele__bage .row .pages button:hover {
  background-color: #3569fd !important;
  color: #fff !important;
}

.app-main__outer .app-main__inner .titele__bage .row .pages button.bord-radu-right {
  border-radius: 0 5px 5px 0;
}

.app-main__outer .app-main__inner .titele__bage .row .pages button.bord-radu-left {
  border-radius: 5px 0 0 5px;
}

.app-main__outer .app-main__inner .titele__bage .row .pages input {
  width: 80px;
  padding: .5rem;
  margin: 0 .25rem;
  border: 0 !important;
  -webkit-box-shadow: 0px 15px 50px #b5b6be69;
          box-shadow: 0px 15px 50px #b5b6be69;
}

@media (max-width: 540px) {
  .app-main__outer .app-main__inner .titele__bage .row .pages button {
    padding: .3rem .8rem;
  }
  .app-main__outer .app-main__inner .titele__bage .row .pages input {
    width: 60px;
    padding: .3rem;
  }
}

.app-main__outer .app-main__inner .titele__bage .row .navbar {
  padding-right: 0;
  padding-top: 0;
}

.app-main__outer .app-main__inner .titele__bage .row .navbar .navbar-toggler {
  padding: .5rem .75rem;
  font-size: .8rem;
  line-height: 1;
  background-color: #fff;
  border-radius: .25rem;
  -webkit-box-shadow: 0px 15px 50px #b5b6be69;
          box-shadow: 0px 15px 50px #b5b6be69;
  color: #3569fd;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 0;
}

.app-main__outer .app-main__inner .titele__bage .row .navbar .navbar-toggler:hover, .app-main__outer .app-main__inner .titele__bage .row .navbar .navbar-toggler:focus {
  text-decoration: none;
  background-color: #3569fd;
  color: #fff;
}

.app-main__outer .app-main__inner .titele__bage .row .navbar-nav .nav-item {
  margin: 0 .5rem .5rem 0;
}

.app-main__outer .app-main__inner .titele__bage .row .navbar-nav .nav-item .nav-link {
  border-radius: 5px;
  position: relative;
  margin: 0;
  padding: .4rem .8rem;
  display: block;
  color: #3569fd;
  background-color: white;
  border: 0;
  cursor: pointer;
  -webkit-box-shadow: 0px 15px 50px #b5b6be69;
          box-shadow: 0px 15px 50px #b5b6be69;
  transition: .3s all ease;
  -webkit-transition: .3s all ease;
}

.app-main__outer .app-main__inner .titele__bage .row .navbar-nav .nav-item .nav-link::before {
  display: none !important;
}

.app-main__outer .app-main__inner .titele__bage .row .navbar-nav .nav-item .nav-link:hover {
  background-color: #3569fd;
  color: #fff;
  -webkit-box-shadow: 0 0 0px 0 #3569fd42;
          box-shadow: 0 0 0px 0 #3569fd42;
}

@media (min-width: 1200px) {
  .app-main__outer .app-main__inner .titele__bage .row .navbar-nav .nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
  }
}

.app-main__outer .app-main__inner .form__page {
  padding: 1.5rem 2rem;
  background-color: #fff;
  border-radius: .5rem;
  margin-top: .7rem;
  -webkit-box-shadow: -1px 6px 50px #b5b6be69;
          box-shadow: -1px 6px 50px #b5b6be69;
  -webkit-border-radius: .5rem;
}

.app-main__outer .app-main__inner .form__page .input-group-addon .fa-envelope {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
  color: #495057;
  text-align: center;
  margin: 0;
}

.app-main__outer .app-main__inner .form__page .search input {
  border-radius: 0 .25rem .25rem 0 !important;
}

.app-main__outer .app-main__inner .form__page .search .search-button {
  background-color: #3569fd;
  border: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: white;
  position: absolute;
  left: 0;
  height: 100%;
  width: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: .25rem 0 0 .25rem;
  -webkit-border-radius: .25rem 0 0 .25rem;
}

.search-button {
  background-color: #3569fd;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .25rem;
  padding: .6rem

}

.app-main__outer .app-main__inner .form__page input::-webkit-input-placeholder {
  font-size: .8rem;
}

.app-main__outer .app-main__inner .form__page input:-ms-input-placeholder {
  font-size: .8rem;
}

.app-main__outer .app-main__inner .form__page input::-ms-input-placeholder {
  font-size: .8rem;
}

.app-main__outer .app-main__inner .form__page input::placeholder {
  font-size: .8rem;
}

.app-main__outer .app-main__inner .form__page .notes-info {
  width: 98%;
  border-radius: 5px !important;
  height: 150px !important;
}

.app-main__outer .app-main__inner .navbar-nav .nav-link,
.app-main__outer .app-main__inner .tabs-animated .nav-link {
  border-radius: 5px;
  position: relative;
  padding: .4rem .8rem;
  display: block;
  color: #3569fd;
  background-color: white;
  margin: 0;
  border: 0;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  transition: .3s all ease;
  -webkit-transition: .3s all ease;
}

.app-main__outer .app-main__inner .navbar-nav .nav-link::before,
.app-main__outer .app-main__inner .tabs-animated .nav-link::before {
  display: none !important;
}

@media (max-width: 992px) {
  .app-main__outer .app-main__inner {
    padding: 20px 10px 0;
  }
}

.tabs-animation .form__page {
  border: 1px solid #d3d3d3;
  margin: 0 1rem 1rem;
}

.body-tabs-shadow .body-tabs-animated .nav-link.active,
.body-tabs-shadow .body-tabs-animated .nav-link:hover,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  background-color: #3569fd;
  color: #fff !important;
}

.input-group > .form-control:not(:first-child) {
  border-radius: .25rem !important;
}

/* Loading Page */
.body-loading {
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.body-loading .lds-ellipsis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-loading .lds-ellipsis img {
  width: 50%;
}

.body-loading .lds-ellipsis img:first-of-type {
  width: 65%;
  -webkit-animation: Rotate 2s infinite;
          animation: Rotate 2s infinite;
}

.img-hide {
  opacity: 0 !important;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@-webkit-keyframes Rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes Rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Loading Page */

input.form-control, 
select.form-control {
  padding: 0 .75rem .2rem
}

@media (min-width: 1601px) {
  .input-group-addon {
    padding: 0.6rem 0.75rem !important;
    font-size: 16px !important;
  }
  .form-control {
    height: calc(2.5rem + 2px);
    font-size: 1rem;
  }
}

@media (max-width: 1266px) {
  .app-main .app-main__outer {
    padding-right: 80px !important;
  }
}

@media (max-width: 991.98px) {
  .app-header .app-header__content {
    background: #3569fd !important;
  }
  .app-sidebar {
    -webkit-transform: translateX(280px);
            transform: translateX(280px);
  }
  .app-main .app-main__outer {
    padding-right: 0 !important;
  }
}

.border-blue {
  border: 1px solid #ccc !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.btn-border-radius-b-lr-0 {
  border-radius: .5rem .5rem 0 0 !important;
}

.box-shadow-0 {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-edit, .btn-del {
  border: 0;
  border-radius: .5rem;
  padding: .5rem 1rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-edit span, .btn-del span {
  margin-left: .5rem;
}

.btn-edit {
  -webkit-box-shadow: 0px 5px 17px 0 #5959592e;
          box-shadow: 0px 5px 17px 0 #5959592e;
  background-color: white;
  color: #3569fd;
}

.btn-edit:hover {
  background-color: #3569fd;
  color: white;
}

.btn-del {
  color: #da2e2e;
  background-color: white;
  -webkit-box-shadow: 0px 5px 17px 0 #5959592e;
          box-shadow: 0px 5px 17px 0 #5959592e;
}

.btn-del:hover {
  background-color: #da2e2e;
  color: white;
  -webkit-box-shadow: 0px 5px 17px 0 #ff000052;
          box-shadow: 0px 5px 17px 0 #ff000052;
}

@media (max-width: 540px) {
  .btn-edit, .btn-del {
    font-size: .8rem;
  }
}

button[disabled],
button[disabled]:hover,
button.nav-link[disabled],
button.nav-link[disabled]:hover {
  background-color: rgba(187, 187, 187, 0.98) !important;
  color: #848484 !important;
  cursor: inherit !important;
  -webkit-box-shadow: 0px 15px 50px #b5b6be69 !important;
          box-shadow: 0px 15px 50px #b5b6be69 !important;
}

button[disabled] i:hover {
  color: #3569fd !important;
}

.back-thead-1 {
  background-color: #53629e;
  color: #fff;
}

.back-thead-2 {
  background-color: #2cb770;
  color: #fff;
}

.table th input,
.table td input {
  outline: 0;
  border: 0;
  width: 100%;
}

.btn-calender {
  border: 1px solid #ccc;
  padding: .4rem;
  padding-bottom: .48rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn-calender:first-of-type {
  border-radius: 0 .25rem .25rem 0;
}

.btn-calender.active {
  background-color: #3569fd;
  color: #fff;
  border: 1px solid #3569fd;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + .slider {
  background-color: #03d200;
}

.switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #03d200;
          box-shadow: 0 0 1px #03d200;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}

@media (max-width: 540px) {
  h5 {
    font-size: 1rem;
  }
  .switch {
    width: 50px;
    height: 25px;
  }
  .switch .slider::before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

/* 404 Page */
.page-404 img {
  -webkit-animation: UpDown 3s infinite;
          animation: UpDown 3s infinite;
}

.page-404 p {
  font-size: 1.5rem;
}

@-webkit-keyframes UpDown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes UpDown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/* 404 Page */
.modal-open .modal {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal-backdrop.fade.show {
  display: none;
}

.modal-dialog .modal-content .modal-header .close {
  margin: -1rem auto -1rem -1rem;
}

.modal-dialog .modal-body {
  height: 57vh;
  overflow-y: scroll;
}

.alert-model .modal-body {
  height: auto;
  overflow: hidden;
  text-align: right;
}

.alert-model .modal-body p {
  font-size: 1rem;
}

@media (min-width: 576px) {
  .alert-model .modal-dialog {
    max-width: 25rem;
    margin: 5rem auto;
  }
  .modal-dialog {
    max-width: 45rem;
    margin: 10rem auto;
  }
}

@media (max-width: 575px) {
  .alert-model .modal-dialog {
    max-width: 25rem;
    margin: 5rem 1rem;
  }
  .modal-dialog {
    max-width: 45rem;
    margin: 10rem 1rem;
  }
}

.body-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url("../images/reports.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.body-login .row {
  height: 50%;
  width: 60%;
  background-color: #eff0f8;
}

.body-login .row::before {
  content: '';
  height: 30vh;
  width: 1px;
  left: 50%;
  right: 50%;
  position: absolute;
  top: 35%;
  background-color: #ccc;
}

.body-login .row .form-group .input, .body-login .row .form-group i {
  color: #000;
}

.body-login .row .form-group .input {
  border: 0;
  background: none !important;
  width: 100%;
  padding: .5rem .8rem;
  outline: 0;
}

.body-login .row .form-group > div:first-of-type {
  border-bottom: 1px solid #ccc;
}

.body-login .row button, .body-login .row a {
  border: 1px solid #ccc;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.body-login .row button:hover, .body-login .row button:focus, .body-login .row a:hover, .body-login .row a:focus {
  color: #fff;
  background-color: #000;
  -webkit-box-shadow: 0 0 10px 0 #a7a7a7;
          box-shadow: 0 0 10px 0 #a7a7a7;
}

@media (max-width: 991px) {
  .body-login .row {
    width: 70%;
    height: 350px;
  }
  .body-login .row::before {
    display: none;
  }
}

.date_hijiri_melady {
  height: 70%;
  position: relative;
}

.date_hijiri_melady .form-group {
  position: absolute;
  top: 0;
  left: 0;
}

.date_hijiri_melady .form-group .input-group-addon {
  cursor: pointer;
}

.z_index {
  z-index: 3;
}

@media (max-width: 991px) {
  .date_hijiri_melady {
    height: auto;
  }
}

.report-form {
  width: 80%;
  margin: 3rem auto 0;
}

.report-form .report-table {
  margin: 2rem 0;
  height: 300px;
}

.report-form .nav-link {
  background-color: #fff;
  color: #3569fd;
  border: 1px solid #3569fd;
  border-radius: .25rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.report-form .nav-link:hover {
  background-color: #3569fd !important;
  color: #fff !important;
}

.view-report {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.view-report .nav-link {
  background-color: #fff;
  color: #3569fd;
  margin-top: 1rem;
  border: 1px solid #3569fd;
  font-size: .7rem;
  border-radius: .25rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.view-report .nav-link:hover {
  background-color: #3569fd !important;
  color: #fff !important;
}

@media (max-width: 991px) {
  .report-form {
    width: 100%;
    margin: 0;
  }
}


.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #d92550;
}

.custom-file-label {
  display: flex;
  align-items: center;
  justify-content: flex-start
}

.custom-file-label::after {
  display: none
}

.toast-top-right {
  top: 10% !important;
  left: 12px !important;
  right: auto !important;
  text-align:  right !important;
}
.toast-top-right > div {
  padding: 1rem !important
}

.form-search {
  padding: .3rem 1rem;
  border-bottom: 1px solid #3569fd;
  width: 60%;
  display: flex;
  outline: 0;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  transition: all .3s ease-in-out
}


.form-search .search-button {
  padding: .2rem .4rem;
  background: none;
  border: 0;
  cursor: pointer;
}


.form-search i {
  color: #3569fd;
  transition: all .3s ease-in-out
}

.form-search input {
  border: 0;
  width: 100%;
  outline: 0;
  padding-left: 1rem;
  transition: all .3s ease-in-out
}

@media (max-width: 767px) {
  .form-search {
    margin-bottom: .5rem
  }
}



.e-input-group {
  border: 0 !important
}

.e-input-group::before,
.e-input-group::after {
  display: none !important
}

.img {
  width: 50%;
  padding: .5rem;
  border-radius: .25rem;
  background-color: #fff;
  box-shadow: 0px 5px 14px 0 #0000001a;
}
.img img {
  border-radius: .25rem;
  width: 100%
}

/*# sourceMappingURL=main-rtl.css.map */

/* New additions */
li.ui-multiselect-item.ui-corner-all {
  text-align: right;
}
body .ui-multiselect-panel .ui-multiselect-header .ui-chkbox {
  margin: 0 .5rem;
}
li.ui-multiselect-item.ui-corner-all span {
  margin: 0 0.5rem;
}
body .ui-multiselect{
  width: 100%;

}
.ui-multiselect .ui-multiselect-trigger{
  left: 0;
  right: auto;
}