@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/nova-light/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-dropdowns/styles/material.css';
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

html,
body {
  padding: 0;
  margin: 0;
}

.reportCategory a,
.reportCategory a:hover,
.reportCategory a:focus {
  color: #000;
  text-decoration: none
}

.card {
  margin: auto;
}

.app-main__outer .app-main__inner .breadcrumb .breadcrumb-item.active a {
  color: #121314;
}

.app-main__outer .app-main__inner .breadcrumb .breadcrumb-item.active a:hover,
.app-main__outer .app-main__inner .breadcrumb .breadcrumb-item.active a:focus {
  color: #007bff;
}
.app-main__inner {
  animation: fadeInAnimation ease 3s ;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.reportCategory a{
  animation: fadeInAnimation ease 5s ;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.reportCategory a:nth-child(1) { animation-delay: .5s }
.reportCategory a:nth-child(2) { animation-delay: 1s }
.reportCategory a:nth-child(3) { animation-delay: 1.5s }
.reportCategory a:nth-child(4) { animation-delay: 2s }