@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/nova-light/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-dropdowns/styles/material.css';
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

html,
body {
  padding: 0;
  margin: 0;
}

.reportCategory a,
.reportCategory a:hover,
.reportCategory a:focus {
  color: #000;
  text-decoration: none
}

.card {
  margin: auto;
}

.app-main__outer .app-main__inner .breadcrumb .breadcrumb-item.active a {
  color: #121314;
}

.app-main__outer .app-main__inner .breadcrumb .breadcrumb-item.active a:hover,
.app-main__outer .app-main__inner .breadcrumb .breadcrumb-item.active a:focus {
  color: #007bff;
}
.app-main__inner {
  animation: fadeInAnimation ease 3s ;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.reportCategory a{
  opacity: 0;
  transform: translateX(50px);
  -webkit-animation: 0.4s fadeInAnimation ease-in-out 0.33333s;
  animation: 0.4s fadeInAnimation ease-in-out 0.33333s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;

}
.reportCategory .zoom_In{
transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
transition-duration: 300ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
--transform-translate-x: 0;
--transform-translate-y: 0;
--transform-rotate: 0;
--transform-skew-x: 0;
--transform-skew-y: 0;
--transform-scale-x: 1;
--transform-scale-y: 1;
transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
cursor: pointer;
}
.reportCategory .zoom_In:hover{
--transform-scale-x: 1.05;
--transform-scale-y: 1.05;
}
@keyframes fadeInAnimation {

  100% {
      opacity: 1;
   }
}

.reportCategory a:nth-child(1) { animation-delay: .5s }
.reportCategory a:nth-child(2) { animation-delay: 1s }
.reportCategory a:nth-child(3) { animation-delay: 1.5s }
.reportCategory a:nth-child(4) { animation-delay: 2s }
.reportCategory a:nth-child(5) { animation-delay: 2.5s }
.reportCategory a:nth-child(6) { animation-delay: 3s }
.reportCategory a:nth-child(7) { animation-delay: 3.5s }
.reportCategory a:nth-child(8) { animation-delay: 4s }
.reportCategory a:nth-child(9) { animation-delay: 4.5s }
.reportCategory a:nth-child(10) { animation-delay: 5s }
.reportCategory a:nth-child(11) { animation-delay: 5.5s }
.reportCategory a:nth-child(12) { animation-delay: 6s }
.reportCategory a:nth-child(13) { animation-delay: 6.5s }
.reportCategory a:nth-child(14) { animation-delay: 7s }
.reportCategory a:nth-child(15) { animation-delay: 7.5s }
.reportCategory a:nth-child(16) { animation-delay: 8s }