<div class="app-main__inner text-right">
  <ul class="breadcrumb m-0 background-none d-flex align-items-center nav nav-pills pb-0 mb-3" id="pills-tab"
    role="tablist">
    <li class="breadcrumb-item active">
      <a routerLink="/dashboard">
        <i class="fa fa-home" aria-hidden="true">
        </i>
      </a>
    </li>
  </ul>
  <div class="reportCategory">
    <div class="card-deck justify-content-center">
      <a class="MonthlyAnalisisForEntriesModel mb-3" routerLink="/MonthlyAnalisisForEntriesModel"
        [routerLinkActive]="['mm-active']">
        <div class="card" style="width: 18rem;">
          <i class="fas fa-file-signature pt-3 fa-2x text-warning m-auto"></i>
          <div class="card-body m-auto">
            <p class="card-text"> {{ 'SideBar.lblMonthlyEntries' | translate }}</p>
          </div>
        </div>
      </a>
      <a class="MonthlyAnalisisForAccounts mb-3" routerLink="/MonthlyAnalisisForAccounts"
        [routerLinkActive]="['mm-active']">
        <div class="card" style="width: 18rem;">
          <i class="fas fa-file-alt pt-3 fa-2x text-primary m-auto"></i>
          <div class="card-body m-auto">
            <p class="card-text">  {{ 'SideBar.lblMonthlyAccount' | translate }}</p>
          </div>
        </div>
      </a>
      <a class="OpiningEntries mb-3" routerLink="/OpiningEntries" [routerLinkActive]="['mm-active']">
        <div class="card" style="width: 18rem;">
          <i class="fas fa-file-signature pt-3 fa-2x text-danger m-auto"></i>
          <div class="card-body m-auto">
            <p class="card-text">   {{ 'SideBar.lbOpeningEntries' | translate }}</p>
          </div>
        </div>
      </a>
      <a class="OpiningEntries mb-3" routerLink="/AccountTotalBalance" [routerLinkActive]="['mm-active']">
        <div class="card" style="width: 18rem;">
          <i class="fas fa-file pt-3 fa-2x text-info m-auto"></i>
          <div class="card-body m-auto">
            <p class="card-text">   {{ 'SideBar.lbAccountTotalBalance' | translate }}</p>
          </div>
        </div>
      </a>
      <a class="OpiningEntries mb-3" routerLink="/GeneralDaily" [routerLinkActive]="['mm-active']">
        <div class="card" style="width: 18rem;">
          <i class="fas fa-file-signature pt-3 fa-2x text-secondary m-auto"></i>
          <div class="card-body m-auto">
            <p class="card-text">  {{ 'SideBar.lbGeneralDaily' | translate }}</p>
          </div>
        </div>
      </a>
      <a class="OpiningEntries mb-3" routerLink="/Institutionfees" [routerLinkActive]="['mm-active']">
        <div class="card" style="width: 18rem;">
          <i class="fas fa-file-signature pt-3 fa-2x text-success m-auto"></i>
          <div class="card-body m-auto">
            <p class="card-text"> {{ 'SideBar.lbInstitutionfees' | translate }}</p>
          </div>
        </div>
      </a>
      <a class="OpiningEntries mb-3" routerLink="/InstitutionTrialBalance" [routerLinkActive]="['mm-active']">
        <div class="card" style="width: 18rem;">
          <i class="fas fa-file-signature pt-3 fa-2x text-warning m-auto"></i>
          <div class="card-body m-auto">
            <p class="card-text">   {{ 'SideBar.lbInstitutionTrialBalance' | translate }}</p>
          </div>
        </div>
      </a>
      <a class="OpiningEntries mb-3" routerLink="/BranchesTrialBalance" [routerLinkActive]="['mm-active']">
        <div class="card" style="width: 18rem;">
          <i class="fas fa-file-signature pt-3 fa-2x text-primary m-auto"></i>
          <div class="card-body m-auto">
            <p class="card-text">  {{ 'SideBar.lbBranchesTrialBalance' | translate }}</p>
          </div>
        </div>
      </a>
      <a class="OpiningEntries mb-3" routerLink="/DepreciationOfFixedAssets" [routerLinkActive]="['mm-active']">
        <div class="card" style="width: 18rem;">
          <i class="fas fa-file-signature pt-3 fa-2x text-danger m-auto"></i>
          <div class="card-body m-auto">
            <p class="card-text">    {{ 'SideBar.lbDepreciationOfFixedAssets' | translate }}</p>
          </div>
        </div>
      </a>
      <a class="OpiningEntries mb-3" routerLink="/TotalExclusionOfFixedAssets"
      [routerLinkActive]="['mm-active']">
        <div class="card" style="width: 18rem;">
          <i class="fas fa-file-signature pt-3 fa-2x text-info m-auto"></i>
          <div class="card-body m-auto">
            <p class="card-text"> {{ 'SideBar.lbTotalExclusionOfFixedAssets' | translate }}</p>
          </div>
        </div>
      </a>
      <a class="OpiningEntries mb-3" routerLink="/FixedAssetsAdditions" [routerLinkActive]="['mm-active']">
        <div class="card" style="width: 18rem;">
          <i class="fas fa-file-signature pt-3 fa-2x text-secondary m-auto"></i>
          <div class="card-body m-auto">
            <p class="card-text">   {{ 'SideBar.lbFixedAssetsAdditions' | translate }}</p>
          </div>
        </div>
      </a>
      <a class="OpiningEntries mb-3" routerLink="/FixedAssetsOfInstitution" [routerLinkActive]="['mm-active']">
        <div class="card" style="width: 18rem;">
          <i class="fas fa-file-signature pt-3 fa-2x text-success m-auto"></i>
          <div class="card-body m-auto">
            <p class="card-text">  {{ 'SideBar.lbFixedAssetsOfInstitution' | translate }}</p>
          </div>
        </div>
      </a>
      <a class="OpiningEntries mb-3" routerLink="/ConsumptionOfDepreciation" [routerLinkActive]="['mm-active']">
        <div class="card" style="width: 18rem;">
          <i class="fas fa-file-signature pt-3 fa-2x text-warning m-auto"></i>
          <div class="card-body m-auto">
            <p class="card-text">  {{ 'SideBar.lblConsumptionOfDepreciation' | translate }}</p>
          </div>
        </div>
      </a>
      <a class="OpiningEntries mb-3" routerLink="/ProvisionForDepreciationOfFixedAssets"
                    [routerLinkActive]="['mm-active']">
        <div class="card" style="width: 18rem;">
          <i class="fas fa-file-signature pt-3 fa-2x text-primary m-auto"></i>
          <div class="card-body m-auto">
            <p class="card-text">  {{ 'SideBar.lblProvisionForDepreciationOfFixedAssets' | translate }}</p>
          </div>
        </div>
      </a>
      <a class="OpiningEntries" routerLink="/LastDurationGoods" [routerLinkActive]="['mm-active']">
        <div class="card" style="width: 18rem;">
          <i class="fas fa-file-signature pt-3 fa-2x text-danger m-auto"></i>
          <div class="card-body m-auto">
            <p class="card-text">   {{ 'SideBar.lblLastDurationGoods' | translate }}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
